body{
	margin:0;
	padding: 0;
	font-family: Arial,sans-serif;
	color:#333;
	background-color:#f4f4f4;

.head{
	display: flex;
	justify-content: space-between;
	align-intems: center;
	background-color: #333;
	color: #fff;
	padding: 20px 0;
}
.logo{
	width: 50px;
}
.meni-links{
	margin:0;
	padding: 0;
		list-style: none;
}
.menu-item{
display: inline;
	margin: 0 15px
}
.section-main-title{
	margin-top: 40px;
	margin-bottom: 20px;
	color: #fff;
	font-family: 'Lora',serif;
	font-size: 55px;
	font-weight: bold;
}
.section-main-subtitle{
	margin-bottom: 40px;
	color:#fff;
	font-size: 22px;
}
.sectiom-main-button{
	background-color: #8fbc8f;
	border: none;
	border-raaius: 25px;
	color: #333;
	font-weight: bolod;
	text-transform: uppercase;
	padding: 12px 30px;
	cursor:pointer;
}
.meni-item-link{
	color: white;
	text-decoration: none;
	font-weight: bold;
}
.menu-item-link:hover{
	color: #ff6f61;
}
.meni-item-link:hover{
	display: flex;
	align-intems:center;
	justify-content: center;
	text-align: centre;
	background:url(herds.jpg) no-repeat center center / cover;
	height: 100vh;
	color: orange;
}
.hero-info{
	background-color: rgba(0, 0, 0, 0.9);
	padding: 40px;
	border-radius: 10px;
	width: 720px;
}
.hero-title{
	font-size: 64px;
	margin: 0;
}
.hero-text{
	font-size: 26px;
	margin: 20px 0;
}
.intro,
.destination,
.contact{
	display: flex;
	flex-direction: column;
	alagin-items:center;
	padding: 50px 25px;
}
.intro-title
.destinations-title,
.contact-title{
	font-size: 40px;
	color: #333;
	margin-top: 25px;
}
.card{
	display: flex;
	flex-direction: row;
	margin: 25px 0;
	padding: 20px;
	width: 900px;
	background-color: white;
	border-radius: 15px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
}
.card-img{
	width: 151px;
	height: 152px;
	border-radius: 20px;
	margin-right: 20px;
}
.card-content{
	text-align: left;
}
.card-title{
	margin-top: 0;
	color: #0073ea6;
}
.card-list{
	padding: 0;
	list-style: none;
}
.card-list-item{
	margin: 12px 0;
	font-size: 20px;
}
.focter{
	padding: 10px 0;
	color: #fff;
	background-color: #333;
	text-align: center;
	position: fjxed;
	bottom: 0;
	width: 100%;
}
.destinations-container{
	display:flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.destinations{
background-color: #fff;
border-radius:  10px;
padding: 20px;
width: 30%;
margin: 15px;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.destinations:hover{
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}
.destinations-img{
	width: 100%;
	border-radius: 10px;
}
.destinations-title{
	font-size: 26px;
	color: #0073e6;
}
.destinations-text{
font-size: 20px;
color: #444;
}
.form{
	background-color: #fff;
	padding: 30px;
	border-radius: 10px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 1.0);
	max-width: 600px;
}
.form-label{
	display: block;
	font-weight: bold;
	margin: 10px 0  5 px o;
}
.form-input,
.form-textarea{
	width: 100%;
	margin-bottom: 10px;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 16px;